
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  background-color: #6c567b;
  padding: 20px;
  justify-content: space-around;
  color: white;
  font-size: 24px;
}
.main-content {
  min-height: calc(100vh - 60px);
  background-color: #98ddca;
  padding: 50px;
  color: #2a1a1f;
  font-size: 24px;
  box-sizing: border-box;
}
